@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(13, 13, 43);
    color: gold;
}
.container{
    text-align: center;
}
h2{
    font-size: 2rem;
    margin: 1rem;
    color: goldenrod;
}
h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: bolder;
    font-family: 'Crafty Girls', cursive;
    word-wrap:break-word;
}
button{
    display: block;
    margin: 1.5rem auto;
    padding: 0.5rem;
    width: 10rem;
    font-size: 1.1rem;
    font-weight: 800;
    border: none;
    background-color: #9393df;
    border-radius: 8px;
    box-shadow: 0 0 7px 1px black;
    cursor: pointer;
}
button:hover{
    color: goldenrod;
    background-color: #12124b;
    box-shadow: 0 0 7px 1px gold;
}
button:active{
    transform: scale(0.95);
}